<a href="/account/insert">Add new account</a>

<table>
    <thead>
    <tr>
        <td>Account ID</td>
        <td>Email</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>delete</td>

    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>

        <td><%= i.account_id %></td>
        <td><%= i.email %></td>
        <td><%= i.first_name %></td>
        <td><%= i.last_name %></td>
        <td><a href="/account/delete/<%=i.account_id%>">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record: Account ID, email, first_name, last_name </p>
<form action="/account/edit" method="POST">
    <input type="'text" name='account[account_id]'>
    <input type="'text" name='account[email]'>
    <input type="'text" name='account[first_name]'>
    <input type="'text" name='account[last_name]'>
    <button type="submit">submit</button>
</form>