<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
<p>Create a New Resume:</p>
<br>

<form action="/resume/insert/<%=response.id%>" method="POST">
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br>
    Account ID<input id="account_id" name="account_id" type="hidden" value="<%= response.account_id %>"/>
    <br>
    <br />
    Schools
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; response.school.length > i; i++ ) { %>
        <option value="<%= response.school[i].school_id %>"><%= response.school[i].school_name %></option>
        <% } %>
    </select>
    <br>
    Companies
    <br />
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var i=0; response.company.length > i; i++ ) { %>
        <option value="<%= response.company[i].company_id %>"><%= response.company[i].company_name %></option>
        <% } %>
    </select>
    <br>
    Skills
    <br>
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; response.skill.length > i; i++ ) { %>
        <option value="<%= response.skill[i].skill_id %>"><%= response.skill[i].skill_name %></option>
        <% } %>
    </select>
    <br>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <br>
    <br>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>