<p>Resume Records: </p>
<br>
<table>
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Account Email</td>
            <td>Resume Title</td>
            <td>Delete</td>

        </tr>
    </thead>
        <tbody>
        <% response.forEach(function(i) { %>
        <tr>
            <td><%= i.first_name %></td>
            <td><%= i.last_name %></td>
            <td><%= i.email %></td>
            <td><%= i.resume_name%></td>
            <td><a href="/resume/delete/<%=i.account_id%>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<p>Update a record: street, zip, Resume </p>
<form action="/address/edit" method="POST">
    <input type="'text" name='address[street]'>
    <input type="'text" name='address[zip_code]'>
    <input type="'text" name='address[address_id]'>
    <button type="submit">submit</button>
</form>