<table>
    <thead>
        <tr>
        <td>Email</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Create Resume</td>
    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.email %></td>
        <td><%= i.first_name %></td>
        <td><%= i.last_name %></td>
        <td><a href="/resume/add/selectUser/<%=i.account_id%>">create record</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>