<p>Add new School: School Name, AddressID </p>
<form action="/school/all" method="POST">
    <input type="'text" name='school[school_name]'>
    <input type="'text" name='school[address_id]'>
    <button type="submit">Submit</button>

</form>
<table>
    <thead>
        <tr>
            <td>SchoolID</td>
            <td>Name</td>
            <td>Street</td>
            <td>ZipCode</td>
            <td>delete</td>
        </tr>
    </thead>
    <tbody>
        <% response.forEach(function(i) { %>
            <tr>
                <td><%= i.school_id %></td>
                <td><%= i.school_name %></td>
                <td><%= i.street %></td>
                <td><%= i.zip_code %></td>
                <td><a href="/school/delete/<%=i.school_id%>">Delete</a></td>
            </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record: Old SchoolId, updated School Name and AddressID</p>
<br>
<form action="/school/edit" method="POST">
    <input type="'text" name='school[school_id]'>
    <input type="'text" name='school[school_name]'>
    <input type="'text" name='school[address_id]'>
    <button type="submit">submit</button>
</form>